<div class = "comment">
    <div class="comment-heading">
        <div class="comment-title">
            {{c.subject}}
        </div>

        <div class="comment-date">
            {{c.created.strftime("%b %d, %Y")}}
        </div>
    </div>

    <div class="comment-content">
        {{c._render_text | safe}}
    </div>
        <div class = "article-edit">
        <br>
        <a href="{{'/blog/comment/edit/%s' % c.key().id()}}">Edit</a>
        <a href="{{'/blog/comment/%s/delete' % c.key().id()}}">Delete</a>
    </div>
    <div class = "error">
        {{error}}
    </div>
</div>
